@import "main.css";

.container {
    display: grid;
    grid-template-rows: 50px minmax(95vh, auto) 50px;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post {
    margin: 20px 0;
}

.post-picture {
    width: 100%;
}

.post-title {
    margin-bottom: 10px;
}

.post-info {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 15px;
}

.post-text {
    font-size: 22px;
}

.author {
    font-size: 20px;
}

.author-avatar {
    width: 200px;
    height: 200px;
}

.social-icon {
    margin-right: 5px;
}

@media (min-width: 1024px) {
    .post {
        width: 800px;
    }

    .author {
        width: 200px;
    }
}
