@import "main.css";

h1 {
    font-weight: lighter;
}

.container {
    display: grid;
    grid-template-rows: 50px minmax(95vh, auto) 50px;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    box-shadow: 0 0 5px;
    padding: 3px 0;
    width: 100%;
    margin: 15px 0;
}

.card-title {
    margin: 3px;
    color: #757575;
}

.card-date {
    margin: 3px;
}

.card-image img {
    width: 100%;
    height: auto;
}

.blog-post-link {
    padding: 10px 5px;
    display: block;
    color: #7fc99d;
}

@media (min-width: 1024px) {
    .card {
        width: 450px;
        margin: 15px 15px;
    }
}